<div class="row">
    <section class="main col-md-9">
        {{#if data.post}}
        <article>
            <!-- Display the current post title -->
            <h2>{{data.post.title}}</h2>
            
            <!-- Display the feature image for the current post -->
            <img src="{{data.post.featureImage}}" alt="Feature Image" style="width:100%" />
            
            
            <br></br>
            <!-- Display the body of the current post using #safeHTML -->
            <div>{{#safeHTML data.post.body}}{{/safeHTML}}</div>
            
            
            <br></br>
            <!-- Display category and last updated date -->
            <strong>Category:</strong> {{data.post.category}}<br />
            <strong>Last Updated:</strong> {{data.post.postDate}}<br />
        </article>
        {{else}}
        <!-- If no post is available, show the message -->
        <div class="col-md-12 text-center">
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
        </div>
        {{/if}}
    </section>
    
    <aside class="col-md-3">
        {{#if data.posts}}
        <!-- Display Posts list if available -->
        <h4>Posts</h4>
        <ul class="list-group">
            {{#each data.posts}}
            <a href="/blog/{{this.id}}?category={{../viewingCategory}}" class="list-group-item">{{this.title}}</a>
            {{/each}}
        </ul>
        {{/if}}

        {{#if data.categories}}
        <!-- Display Categories list if available -->
        <h4>Categories</h4>
        <ul class="list-group">
            {{#each data.categories}}
            <a href="/blog?category={{this.id}}" class="list-group-item">{{this.category}}</a>
            {{/each}}
        </ul>
        {{/if}}
    </aside>
</div>
